{% extends "layout.html" %}

{% block head %}
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.6/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}
  {{ cardlist.name }}
  <div style="margin: 10px" id="word-box">
    <input class="typeahead form-control" type="text" placeholder="Word in {{ language }}">
    <span>http://localhost:5000{{ url_for('frontend.show_list', list_hash=cardlist.hash) }}</span>
  </div>

  <div>
    <table id="cardsTable"></table>
  </div>
{% endblock %}

{% block modals %}
<div class="modal fade" id="addWordModal" role="dialog" aria-labelledby="addWordModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addWordModalLabel">New translation</h4>
      </div>

      <div class="modal-body">
        <form id="addWordForm">
          <div class="form-group">
            <label for="wordInput">Word</label>
            <input type="text" name="word" class="form-control" id="wordInput">
          </div>

          <div class="form-group">
            <label for="ipaInput">Pronunciation</label>
            <input type="text" name="ipa" class="form-control" id="ipaInput">
          </div>

          <div class="form-group">
            <label for="translationInput">Translation</label>
            <textarea class="form-control" name="translation" rows="3" id="translationInput"></textarea>
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="add-new-translation">Add new translation</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block scripts %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.min.js"></script>
  <script src="//cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/dist/typeahead.bundle.min.js"></script>
  <!--<script src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>-->
  <script src="{{ url_for('static', filename='edit_list.js') }}"></script>

  <script>
  var add_word_to_list_url = "{{ url_for('ajax.create_new_card', list_id=cardlist.id) }}";
  var bloodhound_url = "{{ url_for('ajax.translations_autocomplete', list_id=cardlist.id) }}?query=%QUERY";
  var post_translation_url = "{{ url_for('ajax.add_translation') }}";
  var cards_on_list_url = "{{ url_for('ajax.cards_on_list', list_id=cardlist.id) }}";

  $(document).ready(function(){

    translations = bloodhound_init(bloodhound_url);
    init_typeahead();

    var translations_table = $('#cardsTable').DataTable({
        'ordering': false,
        'ajax': {
          url: cards_on_list_url,
          dataSrc: 'translations'
        },
        //'data': [['Apple', 'ejpl', 'Jabłko']],
        'columns': [
          {'title': 'Word', 'data': 'word'},
          {'title': 'Pronunciation', 'data': 'ipa'},
          {'title': 'Translation', 'data': 'translation'}
        ]
    });

    // Word selected in typeahead
    get_typeahead().bind("typeahead:selected", function(obj, datum, name) {
        add_word_to_list(
            add_word_to_list_url,
            datum['id'],
            function (data) {
                // alert('awtl done func');
                // console.log(data.translation.translation);
                // translations_table.row.add(data.translation.translation);
            },
            function (data) {
                alert('Error #1: typehead:selected -> add_word_to_list:fail');
            }
        );
    });

    // New word modal - click on Add new translation button
    $( "#add-new-translation" ).bind( "click", function(event, ui) {
        post_new_translation(
            post_translation_url,
            function (data) {
                console.log('calling add_word_to_list after success in post_new_translation');
                add_word_to_list(
                    add_word_to_list_url,
                    data.translation.id,
                    function (data) {
                        translations_table.row.add(data.translation);
                        $('#addWordModal').modal('hide');
                    },
                    function (data) {
                        alert('Error #2: new_word_modal:click -> post_new_translation:ok -> add_word_to_list:fail');
                    }
                );
            },
            function (data) {
                alert('Error #3: new_word_modal:click -> post_new_translation:fail');
            }
        );

        }
    );
  });
  </script>
{% endblock %}
